modules = ["web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Serve Website"

[[workflows.workflow]]
name = "Serve Website"
author = 18075798
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Opening your website...\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Your website is now accessible via the webview\""
