/* ------------------ Mobile responsiveness ------------------- */

@media only screen and (max-width:580px) {

    /* body {
        background-color: yellow;
    } */

    :root{
        font-size: 15px;
    }

    .c-info-content {
        flex-direction: column;
    }

    .c-info-head {
        padding: 2px 6px;
    }

    .c-info-data {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .c-info-img {
        width: 95%;
    }

    .company-info-section {
        max-width: 95vw;
    }

    .video-features {
        max-width: 95vw;
    }

    .info-box {
        width: 240px;
    }

    #company-video {
        object-fit: contain;
    }

}


/* ------------------ Tablets and Laptops responsiveness ------------------- */

@media only screen and (min-width: 581px) and (max-width:1300px) {

    /* body {
        background-color: purple;
    } */

    .c-info-content {
        flex-direction: column;
    }

    .c-info-head {
        padding: 2px 6px;
    }

    .c-info-data {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .c-info-img {
        width: 90%;
    }

    .info-box {
        width: 240px;
    }

    #company-video {
        object-fit: contain;
    }

}


/* Big Screen and 4K TV devices responsiveness */


@media only screen and (min-width: 2000px) {

    :root{
        font-size: 18px;
    }

    .company-info-section {
        max-width: 70vw;
    }

    #company-video {
        object-fit: contain;
    }

}