/* ------------------ Mobile responsiveness ------------------- */

@media only screen and (max-width:580px) {

    :root {
        font-size: 15px;
    }

    .table-head {
        max-width: 95vw;
    }

    .table-book-section {
        padding: 35px 0px;
    }

    .table-book-content {
        max-width: 95vw;
        padding: 2px 5px;
    }

    .table-heading {
        font-size: 4rem;
    }

    .common-user-form {
        max-width: 99vw;
        padding: 30px 10px;
    }

    .common-form {
        grid-template-columns: 1fr;
    }

    .map-section {
        width: 95vw;
        margin: 50px auto;
    }

    .common-form-label {
        grid-column: 1/3;
    }

    .map-heading {
        font-size: 4.5rem;
    }


}

/* ------------------ Tablets and Laptops responsiveness ------------------- */

@media only screen and (min-width: 581px) and (max-width:1300px) {


    :root {
        font-size: 16px;
    }

    .table-head {
        max-width: 95vw;
    }

    .table-book-content {
        max-width: 95vw;
    }

    .common-user-form {
        max-width: 90vw;
    }

    .common-form {
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px 6px;
    }

    .map-section {
        width: 95vw;
        margin: 50px auto;
    }

}

/*------------------- Big Screen and 4K TV devices responsiveness --------------------------*/

@media only screen and (min-width: 2000px) {

    :root {
        font-size: 18px;
    }

    .table-book-content {
        max-width: 75vw;
    }

    .map-section {
        max-width: 75vw;
    }

    .common-user-form {
        max-width: 55vw;
    }

}