/* ---------------------Menu hero section styling-------------------- */

:root {
    font-size: 16px;
}

.menu-hero-section {
    max-width: var(--common-max-width);
    text-align: center;
    margin: 50px auto 80px auto;
}

.menu-filters {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 90px;
}

.filter-btn {
    text-decoration: none;
    font-weight: bold;
    color: var(--heading-text-color);
    padding: 12px 35px;
    border: 1px solid var(--tertiary-bg-color);
    border-radius: 50px;
}

.active-filter {
    background-color: var(--primary-btn-bg);
    color: var(--tertiary-text-color);
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}


.menu-box {
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tertiary-bg-color);
    border-radius: 12px;
    box-shadow: 2px 2px 5px var(--box-shadow);
    transition: 0.4s ease;
}

.menu-box:hover {
    box-shadow: 4px 4px 12px 2px var(--box-shadow);
    transform: scale(1.015);
}

.menu-box-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
    gap: 15px 0px;
}

.dish-price {
    font-size: 1.5rem;
    color: var(--primary-btn-bg);
    font-weight: bold;
}

.dish-name {
    font-size: 1.25rem;
    color: var(--heading-text-color);
    font-weight: bold;
}

.dish-detail {
    color: var(--para-text-color);
}


/* ---------------------Order section styling-------------------- */

.order-section {
    background-color: var(--primary-bg-color);
    margin: 0px auto;
    padding: 85px 0;
}

.order-heading {
    margin-bottom: 20px;
}

.order-content {
    max-width: var(--common-max-width);
    display: flex;
    margin: 0px auto;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
}

.order-header {
    max-width: 40vw;
    padding: 4px 50px;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px 20px;
    justify-items: center;
    align-items: center;
}

.company-img-box {
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 18px 25px;
    border: none;
    box-shadow: 0px 2px 25px 0px var(--box-shadow);
}



/*------------------- Responsiveness for all devides------------------- */

/* -------------------Mobile devices responsiveness------------------- */

@media only screen and (max-width:580px) {

    :root {
        font-size: 15px;
    }

    .menu-hero-section {
        max-width: 95vw;
    }

    #menu-heading {
        margin-bottom: 20px;
    }

    .menu-header {
        max-width: 90vw;
    }

    .menu-box {
        width: 90%;
        max-width: 310px;
        height: auto;
    }

    .menu-list {
        width: 100%;
        gap: 25px;
        padding: 0px 10px;
    }

    .dish-img {
        width: 100%;
    }

    .order-header {
        max-width: 90vw;
        padding: 4px 12px;
        margin-bottom: 60px;
    }

    .order-content {
        max-width: 95vw;
        flex-direction: column;
    }

    .company-grid {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(1, 1fr); */
    }

}

/* ------------------ Tablets and Laptops responsiveness ------------------- */

@media only screen and (min-width: 581px) and (max-width:1300px) {

    .order-header {
        max-width: 90vw;
        margin-bottom: 60px;
    }

    .order-content {
        max-width: 95vw;
        flex-direction: column;
    }

    .company-grid {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
    }

}

/* ------------------Big Screen and 4K TV devices responsiveness------------------ */


@media only screen and (min-width: 2000px) {

    .menu-hero-section {
        max-width: 75vw;
    }

    .order-header {
        max-width: 35vw;
    }

    .menu-list {
        justify-content: space-around;
        gap: 25px;
    }

    .order-content {
        max-width: 70vw;
    }

}

/* Responsiveness for common devices */
@media only screen and (max-width:1300px) {

    .menu-heading {
        font-size: 4rem;
    }

    .menu-para {
        max-width: 95%;
    }

}